
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <img src="../../{{user.profileimage}}" height="220" width="220" alt="Es tu imagen no me mires"><br>
      <p>{{user.nombre}} {{user.apellido}}</p>
      <a href="/users/editprofile">editar informacion</a>
    </div>

    <div class="card">
      <p>Club: {{user.club}}</p>
      <p>Altura: {{user.altura}} m</p>
      <p>Club: {{user.club}}</p>
      <p>Raquetas: {{user.raquetas}}</p>
      <p>Mano: {{user.mano}}</p>
      <p>Reves: {{user.reves}}</p>
      <p>Superficie preferida: {{user.superficie}}</p>
      <p>Acerca de mi: <br><br>{{user.acercademi}}</p>
    </div>
  </div>
  <div class="centercolumn" >
    <div class="card">
      <h2>Bienvenid{{#ifEquals user.genero "mujer"}}a{{/ifEquals}}{{#ifEquals user.genero "hombre"}}o{{/ifEquals}} {{user.username}}</h2>
      <h3>Rank: {{user.rank}}</h3>
      <div class="fakeimg" style="height:200px;">Imagen del rank</div>
      <p>Mucho tenis</p>
    </div>

    <div class="card">
      <h2>Historial de partidos</h2>
      <div class="fakeimg" style="height:200px;">Ultimos partidos</div>
      <p>Mucho tenis</p>
    </div>

  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Ads</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Aqui tu anuncio.</p>
    </div>
    <div class="card">
      <h3>Ads</h3>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
      <div class="fakeimg"><p>Image</p></div>
    </div>
  </div>
</div>
